@import "tailwindcss";

@theme{
    --background-image-sp: url('/assets/sp.jpg');
    --background-image-rj: url('/assets/rj.jpg');
    --background-image-stc: url('/assets/stc3.jpg');
    --background-image-airplane: url('/assets/airplane2.jpg');
}